*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    max-width: 1023px;
    justify-content: center;
    margin: auto;
}


nav{
    height: 100px;
}

.nav-item{
    margin-left: 180px;
    text-align: center;
    justify-content: center;
}

#bemutatkozas{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.text{
    margin: 50px 50px 10px 50px;
    text-align: justify;
    border-style: double;
    padding: 20px;
}

h1{
    text-align: center;
    margin-top: 40px;
}

.kepek{
    justify-content: center;
    margin: 50px;
    text-align: center;
}

.fagyizo{
    justify-content: center;
    margin: 50px;
    text-align: center;
}
.ul{
    text-align: center;
}

footer{
    background-color: black;
}
h3{
    color: azure;
    text-align: center;
}
