*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}


nav{
    height: 100px;
}

.nav-item{
    margin-right: 50px;
}

#bemutatkozas{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.text{
    margin: 50px 50px 10px 50px;
    text-align: center;
    border-style: double;
}
